html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body{
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
input{
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
button{
  border: none;
  outline: none;
  padding: 0;
}

.nav{
  width: 100%;
  height: 80px;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 10;
  margin: 0px;
  pointer-events: none;
  cursor: default;
}
.nav .icon{
  font-size: 36px;
  display: inline-block;
}
.nav .iconText{
  display: inline-block;
}
.nav-box{
  height: 80px;
  pointer-events: auto;
  transition: transform 0.5s,opacity 0.5s,visibility 0.5s;
}
.disable{
  opacity: 0.5;
  cursor: not-allowed;
}
.option{
  min-height: 80px;
  width: 100%;
  bottom: 40px;
  left: 15px;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  cursor: default;
}
.option-box{
  min-height: 80px;
  box-shadow: 0px 4px 16px rgba(0,0,0, 0.16);
  border-radius: 50px;
  padding: 0px;
  pointer-events: auto;
  transition: transform 0.5s,opacity 0.5s,visibility 0.5s;
}
.hidden-nav{
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}
.hidden-option{
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
}
.option-size-box{
  padding: 0px;
}
.option-size-box input{
  height: 48px;
  width: 100%;
  background: #E8E8E8;
  border-radius: 24px;
  text-align: center;
  outline: none;
}
.option-colors{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option-colors a{
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 24px;
  display: inline-block;
}
/** Button **/
.btn-b{
  height: 60px;
  width: 60px;
  background: white;
  z-index: 12;
  border-radius: 30px;
  text-align: center;
  padding-top: 13px;
  pointer-events: auto;
  transform: translateY(160%);
  transition: transform 0.5s, height 0.5s, border-radius 0.5s, margin-top 0.5s;
}
.b-open{
  height: 35px;
  margin-bottom: -5px;
  margin-top: -30px;
  border-radius: 30px 30px 0px 0px;
  padding-top: 3px;
  transform: translateY(0);
  transition: transform 0.5s, height 0.5s, border-radius 0.5s, margin-top 0.5s;
}
.btn-t{
  height: 35px;
  width: 60px;
  background: white;
  z-index: 12;
  border-radius: 0px 0px 30px 30px;
  text-align: center;
  padding: 0px;
  padding-top: 1px;
  align-self: baseline;
  pointer-events: auto;
  margin-top: 0px;
  transform: translateY(-80px);
  transition: transform 0.5s, margin-top 0.5s;
}
.t-open{
  margin-top: -5px;
  transform: translateY(0);
  transition: transform 0.5s, margin-top 0.5s;
}
#canvas{
  background: #E8E8E8;
  position: absolute;
  z-index: 1;
}
